.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    position: relative;
    padding: 50px 0px;
    font-size: 55px;
    font-weight: 300;
}



.contact-title img.theme-pattern {
    /* Adjust positioning for theme_patern image */
    position: relative;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 80px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.contact-left p {
    max-width: 400px;
    color: #D8D8D8;
    font-size: 22px;
    line-height: 35px;

}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 50px;
}

.contact-details {
    display: flex;
    align-items: first baseline;
    gap: 30px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label {
    color: #D8D8D8;
    font-size: 28px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 580px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;

}

.contact-right textarea {
    width: 550px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;

}

.contact-submit {
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;

}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.contact-detail a:hover img {
    opacity: 0.8;

}

@media(max-width:768px) {
    .contact {
        gap: 30px;
        /* Reduced gap between elements for better spacing */
        margin: 30px 20px;
        /* Adjusted margin for better spacing */
        align-items: center;
        /* Center items vertically for better alignment */
    }

    .contact-title h1 {
        padding: 0;
        font-size: 40px;
        /* Reduced font size for better readability */
        font-weight: 600;
    }

    .contact-section {
        flex-direction: column;
        /* Adjusted direction for better layout */
    }

    .contact-left {
        flex-direction: column;
        /* Adjusted direction for better layout */
        gap: 10px;
        /* Reduced gap between elements for better spacing */
    }

    .contact-left h1 {
        font-size: 40px;
        /* Reduced font size for better readability */
    }

    .contact-left p {
        font-size: 16px;
        /* Reduced font size for better readability */
    }

    .contact-detail {
        gap: 15px;
        /* Reduced gap between elements for better spacing */
    }

    .contact-detail img {
        width: 30px;
        /* Reduced image width for better fit */
    }

    .contact-right label {
        font-size: 16px;
        /* Reduced font size for better readability */
    }

    .contact-right input,
    .contact-right textarea {
        width: 100%;
        font-size: 16px;
        /* Reduced font size for better readability */
    }


    .contact-submit {
        font-size: 16px;
        /* Reduced font size for better readability */
        padding: 10px 30px;
        /* Reduced padding for better spacing */
    }
}