.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 80px;

}

.navbar img {
    margin-left: 0%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;

}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}


.nav-menu li img {
    display: flex;
    margin: auto;

}

.anchor-link {
    text-decoration: none;
    color: white;

}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 10px 30px;
        /* Adjusted margin for better spacing */
    }

    .nav-connect {
        display: none;
        /* Hiding the connect button on smaller screens */
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 20px;
        /* Adjusted position for better alignment */
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 20px;
        /* Adjusted position for better alignment */
        left: 240px;
        /* Adjusted position for better alignment */
        width: 25px;
        /* Adjusted width for better fit */
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 20px;
        /* Reduced gap between menu items for better spacing */
        background-color: #1f0016;
        width: 280px;
        /* Reduced width for better fit on smaller screens */
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -280px;
        /* Adjusted right position for better alignment */
    }

    .nav-menu li {
        font-size: 24px;
        /* Reduced font size for better readability */
        padding-left: 60px;
        /* Reduced padding for better fit */
        flex-direction: row;
        gap: 15px;
        /* Reduced gap between elements for better spacing */
    }
}